body {			
    margin:0;
    background-color:#D6C3BD;
    width:287px;
    min-height:140px;
    height: auto !important;
    height: 100%;
}

/*
#content { 	
    margin:0 auto;
    width:287px;
    min-height:140px;
    height: auto !important;
    height: 100%;
}

.title-text {	
    font-size:13px;
    color:orange;
    margin-bottom:0px;
    margin-left:5px;
    margin-right:8px;
}

.main-text {
	font-size:13px;
    color:black;
    margin-bottom:0px;
    margin-left:5px;
    margin-right:8px;
}*/